
<div id="wrapper" class="boxed-layout">

  <section id="contents">
    <div class="page-head h-400 center-it dark ov-dark-alpha-60">
      <div id="gmap" data-address="Footscray VIC 3011 Australia"></div>
      <div class="container">
        <div class="tb-vcenter-wrapper">
          <div class="title-wrapper vcenter">
            <h1 class="title">Contact us</h1>
            <h2 class="description">If you have any question, please feel free to send us any feed backs and we'll try to respond as soon as possible.</h2>
          </div>
        </div>
      </div>
    </div>
    <section class="page-contents">
      <section id="main-area">
        <section class="section slim-container">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center boxed-contact-form">
                <div class="heading-with-sub">
                  <h4 class="subtitle">You my wait for a couple of days</h4>
                </div>
                <div class="sp-line-40 m-bottom-20"></div>
                <form id="contact-form" action="http://chaos.owwwlab.com/demo5/php/contact/contact.php"><label class="test"  for="name">Name</label><input type="text" name="name" class="m-bottom-20 form-control"><label class="test" for="email">Email</label><label class="test" for="subject">Subject</label><input type="text" name="subject" class="m-bottom-20 form-control"> <input type="email" name="email" class="m-bottom-20 form-control"><label class="test">Message</label><textarea rows="6" class="m-bottom-20 form-control"></textarea><input type="submit" value="Send it" class="btn btn-medium btn-skin-dark btn-thick-border btn-block"></form>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <h4 class="with-underline">How to find us?</h4>
                <p>Text Here</p>
                <ul class="icon-list">
                  <li>
                    <i class="oli oli-envelope"></i>
                    <a href="http://chaos.owwwlab.com/cdn-cgi/l/email-protection#93f6fef2faffd3f6fef2faffbdf0fcfe">
                      <span class="__cf_email__" data-cfemail="62070f030b0e22070f030b0e4c010d0f">lip2_master@googlegroups.com</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script>
                    </a>
                  </li>
                  <li><i class="oli oli-map"></i>Département Informatique, Campus Universitaire, 2092 El Manar, Tunis,  Tunisie</li>
                  <li><i class="oli oli-phone"></i>Office: (+216) 71 872 600</li>
                  <li><i class="oli oli-phone"></i>Laboratory: (+216) 71 872 600</li>
                </ul>
                <h4 class="with-underline m-top-50">Need Forms?</h4>
                <a href="#" class="ol-iconic-link m-bottom-20"><i class="oli oli-download_2"></i>Download Forms</a><a href="#" class="ol-iconic-link"><i class="oli oli-download_2"></i>Download Assessment Example</a>
              </div>
            </div>
          </div>
        </section>
      </section>
      <div class="clearfix"></div>
    </section>
  </section>
  <footer id="footer">
    <div id="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <a href="#" class="img"><img src="assets/img/logo/logo-light.png" alt="CHAOS HTML Template"></a>
            <div class="sp-blank-30"></div>
            <p>CHAOS is an HTML/CSS/JS template designed by owwwlab team wishing to help academic and scientific websites build modern pages with elegant design.</p>
            <ul class="social-icons shape-circle">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 col-md-offset-1 col-sm-6">
            <div class="widget">
              <div class="links">
                <ul>
                  <li><a href="#">Alumni</a></li>
                  <li><a href="#">Entrepreneurs</a></li>
                  <li><a href="#">Current students</a></li>
                  <li><a href="#">Faculty and staff</a></li>
                  <li><a href="#">Future students</a></li>
                  <li><a href="#">Fellowship students</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="widget">
              <div class="links">
                <ul>
                  <li><a href="#">Research</a></li>
                  <li><a href="#">Campus Life</a></li>
                  <li><a href="#">Library</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="assets/js/vendors/vendors.js"></script><script src="assets/js/custom.js"></script><script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>